@import "../../../framework/less/mixins.less";

.index-page {
  .container {
    .head-pic{
      .px2rem(width, 180);
      .px2rem(height, 180);
      position: absolute;
      left: 50%;
      top: 20%;
      .px2rem(margin-left, -90);


      img {
        .px2rem(width, 180);
        .px2rem(height, 180);
        border-radius: 50%;
      }
    }
  }
}