/**
 * lastModify: Atomic
 */
/*
* 设备像素比(device pixel ratio ) dpr = 2
* 设备独立像素(density-independent pixel) dip: 320px
* 因此基于的高清视觉稿物理设备像素宽是： 640px（ 如：iphone5一屏物理分辨率：640px * 1136px ）
* 新视觉稿件采用了iphone6标准，故@standard-width: 375 * 2;
*/
/**
 * 如果当前param单位为px,根据dpr计算[data-dpr]里面的对应px
 */
/**
 * 如果当前param单位为非px，则执行px2auto方法，自动适配
 */
/**
 * 循环编译当前@rest队列里面的param，并放到[data-dpr]的里面
 */
/**
 * 该函数用于设置一些属性值为：字符串/百分比/0等等属性。
 * 如：margin: auto; 可以用.px2other(margin, auto);实现
 */
/**
 * 该方法对.px2rem,.px2px,.px2other进行了封装，能够传入的参数进行自动判断，
 * 并采用对应的方法进行计算。
 * 如：
 * .px2auto(margin, 0); -> margin:0;
 * .px2auto(margin, auto); -> margin: auto;
 * .px2auto(margin, 10%); -> margin: 10%;
 * .px2auto(margin, 64); -> margin: 1rem;
 * .px2auto(margin, 64px); -> [data-dpr="2"] {margin:64px;}
 *                            [data-dpr="4"] {margin:128px;}....
 *
 * @rest里面可以传递附加字段。如:.px2auto(margin-left, 10%, important);
 *
 */
/**
 *此方法为多字段编译的方法。@rest为拓展字段，可以传入N个值
 *例如：
 *.px2auto-mulit(margin, 64, 64, 64, 64, important);
 *      ->  margin:1rem 1rem 1rem 1rem !important;
 *.px2auto-mulit(padding, 10px, 10%, 64, 2rem, important);
 *      ->  margin:5px 10% 1rem, 2rem !important;
 *          [data-dpr="2"]{margin:10px 10% 1rem, 2rem !important; }
 *          [data-dpr="3"]{margin:15px 10% 1rem, 2rem !important; }
 *          ....
 *
 */
/**
 * 动画
 * @param  {[type]} @name             规定需要绑定到选择器的 keyframe 名称
 * @param  {[type]} @duration:1s      规定完成动画所花费的时间，以秒或毫秒计。默认1秒
 * @param  {[type]} @count:1          规定动画应该播放的次数。
 * @param  {[type]} @direction:linear 规定动画的速度曲线。
 * @return {[type]}                   [description]
 */
body {
  background: #f6f6fb;
  font-size: 0.37333333rem;
  /* 禁止选中文本 */
  -webkit-user-select: none;
  user-select: none;
  /* iphone样式fix */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body .loading-wrapper {
  height: 1.46666667rem;
  padding-left: 0.42666667rem;
  padding-right: 0.42666667rem;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -0.73333333rem;
  border-radius: 0.10666667rem;
}
body .loading {
  width: 0.96rem;
  height: 0.96rem;
  margin-top: 0.32rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: rotation 1s infinite linear;
  -moz-animation: rotation 1s infinite linear;
  -o-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-top-color: #7f7f7f;
  border-radius: 100%;
}
[data-dpr="2"] body .loading {
  border-width: 6px ;
}
[data-dpr="2.5"] body .loading {
  border-width: 8px ;
}
[data-dpr="2.75"] body .loading {
  border-width: 8px ;
}
[data-dpr="3"] body .loading {
  border-width: 9px ;
}
[data-dpr="4"] body .loading {
  border-width: 12px ;
}
body.account-dialog-open {
  overflow: hidden;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
  visibility: hidden;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.font26 {
  font-size: 0.34666667rem;
}
.font28 {
  font-size: 0.37333333rem;
}
.font32 {
  font-size: 0.42666667rem;
}
.font40 {
  font-size: 0.53333333rem;
}
.ngdialog.theme-default.spinner .message {
  width: 1.33333333rem;
}
.ngdialog.theme-default.spinner-btn .btn-close-spinner {
  right: 0.13333333rem;
}
.scroll-select .select-box {
  z-index: 20;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
.index-page .container .head-pic {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -1.2rem;
}
.index-page .container .head-pic img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  -webkit-animation: rockHead 5s infinite linear;
  -moz-animation: rockHead 5s infinite linear;
  -o-animation: rockHead 5s infinite linear;
  animation: rockHead 5s infinite linear;
}
@-webkit-keyframes rockHead {
  0% {
    -webkit-transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0);
  }
}
@keyframes rockHead {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
  }
}
